{% extends 'base.html' %}
{% load static %}

{% block extra_nav %}
  <li class="nav-item px-lg-4">
    <a class="nav-link text-uppercase" href="{% url 'forum_detail' forum.forum_id %}">Back to {{ forum.forum_name }}</a>
  </li>
{% endblock %}
{% block content %}
  {% include 'includes/product_sidebar.html' with forum=forum %}
  <form method="POST">
    {% csrf_token %}
    {% if text_entry %}
      <textarea name="text" rows="5" cols="40" value="{{ text_entry }}"></textarea>
    {% else %}
      <textarea name="text" rows="5" cols="40"></textarea>
    {% endif %}
    <br />
    <button type="submit">Submit</button>
  </form>
{% endblock %}
