{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ forum.forum_name }}| BindingBooks
{% endblock %}
{% block extra_nav %}
  <ul class="navbar-nav">
    {% if user.is_authenticated %}
      <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase" href="{% url 'create_post' forum.forum_id %}">+ Create New Post in {{ forum.forum_name }}</a>
      </li>
    {% endif %}
  </ul>
{% endblock %}
{% block content %}
  {% include 'includes/product_sidebar.html' %}
  <p>{{ forum.forum_description }}</p>
  <p>Starts: {{ forum.start_date }}</p>
  <p>Discussion time: {{ forum.meeting_day }} at {{ forum.meeting_time }}</p>
  <p>Forum lead: {{ forum.forum_lead.username|default:'Unknown owner' }}</p>

  <h2>Posts</h2>
  <ul>
    {% for p in posts %}
      {% if p.approved == True %}
        <li>
          <a href="{% url 'post_detail' p.post_id %}">{{ p.author.username|default:'Unknown author' }}: view post</a>
          <br />
          {{ p.post_text }}
        </li>
      {% endif %}
    {% empty %}
      <li>No posts yet.</li>
    {% endfor %}
  </ul>
{% endblock %}