{% extends 'base.html' %}
{% block title %}
  Forums | BindingBooks
{% endblock %}
{% block extra_nav %}
  {% if user.is_authenticated %}
    <li class="nav-item px-lg-4">
      <a class="nav-link text-uppercase" href="{% url 'create_forum' %}">+ Create New Forum</a>
    </li>
    <li class="nav-item px-lg-4">
      <a class="nav-link text-uppercase" href="{% url 'review_create' %}">Write a Review</a>
    </li>
  {% endif %}
{% endblock %}
{% block content %}
  <ul>
    {% for f in forums %}
      <li>
        <a href="{% url 'forum_detail' f.forum_id %}">{{ f.forum_name }}</a><br />
        Lead: {{ f.forum_lead.username|default:'Unknown lead' }}<br />
        Meets: {{ f.meeting_day }} at {{ f.meeting_time }}
      </li>
    {% empty %}
      <li>No forums yet.</li>
    {% endfor %}
  </ul>
{% endblock %}