.product-sidebar {
    position: sticky;
    top: 100px;
    float: right;
    width: 260px;
    margin-left: 20px;
}

@media(max-width: 900px) {
    .product-sidebar {
        float: none;
        width: 100%;
        margin: 0;
        position: relative;
        top: auto;
        margin-bottom: 20px;
    }
}